body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #d1e3d5; /*sage color*/
  margin: 0;
  padding: 0;
  background-color: #f4f4f4 ;
}

header p {
  max-width: 800px; /* The same width as the white rectangle containing "Technical Skills" */
  margin: auto; /* This is used to center the paragraph */
  text-align: justify; /* This is to align the text */
}

header {
  background-color: #d1e3d5;
  color: #fff; /*white color*/
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('plain_background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

h1, h2 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 1em;
}

.project {
  margin: 20px;
}

.project h3 {
  margin-top: 0;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  background-color: #333;
  color: #ddd; /* light grey color */
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-links a:hover {
  background-color: #444;
  color: #fff; /* white color when hovered */
}

.project-thumbnail {
  width: 100%;  /* adjust as needed */
  height: auto; /* adjust as needed */
  object-fit: cover;
  transition: box-shadow .3s ease; /* Animation */
  margin-bottom: 15px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2); /* Initial shadow */
}

.project:hover .project-thumbnail {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.4); /* Darker shadow when hovered */
}

footer {
  background-color: #d1e3d5;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.1);
}
